@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

.card {
    width: 85%;
    margin: 0 auto;
}

@media screen and (max-width: 1000px) {

    .card,
    .btn {
        width: 100%;
        padding: 0;
    }

}