{% extends 'template.html.jinja' %}
{% import './components/form.html.jinja' as form %}
{% import './components/modal.html.jinja' as modal %}

{% block title %}Diabetes Predictive{% endblock %}
{% block main %}
  {{ form }}
  {{ modal }}
{% endblock %}

