{% extends 'template.html.jinja' %}

{% block main %}
<div class="row py-5">
    <div class="col">
        <div class="card mb-4">
            <h4 class="card-header fw-bold">Apa itu Medical Check Apps?</h4>
            <div class="card-body">
                <p class="card-text"><b>Medical Check Apps</b> adalah sebuah platform kesehatan yang bertujuan untuk
                    membantu petugas medis dalam mengecek data pasien, sistem ini digunakan untuk mengetahui kondisi
                    kesehatan pada pasien melalui data riwayat hasil pemeriksaan kesehatannya.</p>
            </div>
        </div>
        <div class="card">
            <h4 class="card-header fw-bold">Fitur Medical Check Apps</h4>
            <div class="card-body">
                <h5 class="card-title fw-bold">Prediksi Diabetes</h5>
                <p class="card-text">Sebuah fitur yang digunakan untuk mendeteksi penyakit diabetes, dengan mengisi data
                    hasil tes pemeriksaan pasien melalui form untuk mengetahui hasil nilainya. Fitur ini hanya bisa
                    digunakan untuk data pasien pada wanita.</p>
                <a href="/diabetes" class="btn btn-primary">Coba Sekarang!</a>
            </div>
            <hr>
            <div class="card-body">
                <h5 class="card-title fw-bold">Kalkulator BMI</h5>
                <p class="card-text">Sebuah fitur untuk menilai apakah berat badan pasien sehat atau tidak, dengan
                    mengisi
                    berat badan dan tinggi badan pasien melalui form untuk mengetahui hasil nilainya.</p>
                <a href="/bmi" class="btn btn-primary">Coba Sekarang!</a>
            </div>
            <p class="card-footer text-sm-end m-0">MedicalCheckApps v1.0</p>
        </div>
    </div>
</div>
{% endblock %}