<!-- Modal -->
<div class="modal fade" id="modalResult" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Result</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <p class="my-2">Name : Wulandari</p>
              <table class="table">
                  <tbody>
                      <tr>
                          <th scope="row">Pregnancies</th>
                          <td>0</td>
                      </tr>
                      <tr>
                          <th scope="row">Glucose</th>
                          <td>130</td>
                      </tr>
                      <tr>
                          <th scope="row">Blood Pressure</th>
                          <td>120</td>
                      </tr>
                      <tr>
                          <th scope="row">Skin Thickness</th>
                          <td>12</td>
                      </tr>
                      <tr>
                          <th scope="row">Insulin</th>
                          <td>133</td>
                      </tr>
                      <tr>
                          <th scope="row">BMI</th>
                          <td>44</td>
                      </tr>
                      <tr>
                          <th scope="row">Diabetes Pedigree Function</th>
                          <td>8</td>
                      </tr>
                      <tr>
                          <th scope="row">Age</th>
                          <td>32</td>
                      </tr>
                  </tbody>
              </table>
              <div class="text-center">
                  <p>Berdasarkan data diatas anda dinyatakan : </p>
                  <p><span id="resultPredict" class="fw-bold">Negatif</span> terhadap penyakit diabetes.</p>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </div>
  </div>
</div>